In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay
from sklearn import svm
import pandas as pd
import glob
from tqdm import tqdm
import matplotlib.pyplot as plt
from collections import Counter
import numpy as np
from ast import literal_eval
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, confusion_matrix, ConfusionMatrixDisplay
from sklearn import svm
from sklearn.model_selection import RandomizedSearchCV, train_test_split
import numpy as np
from sklearn.preprocessing import StandardScaler

In [117]:
Training_data_files=glob.glob('TrainingData/*.csv')
file_name_list_x=[]
file_name_list_x_time=[]
file_name_list_y=[]
file_name_list_y_time=[]
for file_name in tqdm(Training_data_files):
    if 'x.csv' in file_name:
        file_name_list_x.append(file_name)
    elif 'x_time.csv' in file_name:
        file_name_list_x_time.append(file_name)
    elif 'y.csv' in file_name:
        file_name_list_y.append(file_name)
    else:
        file_name_list_y_time.append(file_name)
file_name_list_x.sort()
file_name_list_x_time.sort()
file_name_list_y.sort()
file_name_list_y_time.sort()
Subject_list= [f.split('_')[1] for f in file_name_list_x]
Session_list= [f.split('_')[2] for f in file_name_list_x]

x_sensor_dat=pd.DataFrame([])
y_sensor_dat=pd.DataFrame([])
x_time_dat=[]
for sub,sess in tqdm(zip(Subject_list,Session_list)):
    x_sensor_dat=pd.concat([pd.read_csv(f"TrainingData/subject_{sub}_{sess}__x.csv",header=None),pd.read_csv(f"TrainingData/subject_{sub}_{sess}__x_time.csv",header=None).rename(columns={0:'time_stamp'})],axis=1)
    features_to_normalize = [0,1,2,3,4,5]
    scaler = StandardScaler()
    scaler.fit(x_sensor_dat[features_to_normalize])
    scaled = scaler.fit_transform(x_sensor_dat[features_to_normalize])
    scaled_df = pd.DataFrame(scaled, columns=x_sensor_dat[features_to_normalize].columns)
    x_sensor_dat[features_to_normalize]=scaled_df
    
    x_sensor_dat['measurements']=x_sensor_dat.apply(lambda x: [x[0],x[1],x[2],x[3],x[4],x[5]],axis=1)
    x_sensor_dat=x_sensor_dat[['time_stamp','measurements']]
    x_sensor_dat['Subject']=int(sub)
    x_sensor_dat['Session']=int(sess)
    
    y_sensor_dat=pd.concat([pd.read_csv(f"TrainingData/subject_{sub}_{sess}__y.csv",header=None),pd.read_csv(f"TrainingData/subject_{sub}_{sess}__y_time.csv",header=None).rename(columns={0:'time_stamp'})],axis=1).rename(columns={0:'labels'})
    y_sensor_dat=y_sensor_dat[['time_stamp','labels']]
    # trp=pd.concat(
    #     [pd.DataFrame({'labels':0},index=[x_sensor_dat.index[-1]]),pd.DataFrame({'time_stamp':np.max(x_sensor_dat['time_stamp'])},index=[x_sensor_dat.index[-1]])
    #                      ]
    #      ,axis=1)
    # y_sensor_dat=pd.concat([y_sensor_dat,trp],axis=0)
    # trp=pd.concat([pd.DataFrame({'labels':0},index=[x_sensor_dat.index[0]]),pd.DataFrame({'time_stamp':np.min(x_sensor_dat['time_stamp'])},index=[x_sensor_dat.index[0]])],axis=1)
    # y_sensor_dat=pd.concat([trp,y_sensor_dat],axis=0)
    # y_sensor_dat=y_sensor_dat.set_index('time_stamp').asfreq('0.025S')
    #y_sensor_dat['Subject']=int(sub)
    #y_sensor_dat['Session']=int(sess)
    x_sensor_dat["time_stamp"]=pd.to_datetime(x_sensor_dat["time_stamp"],unit='s').round('ms')
    x_sensor_dat=x_sensor_dat.set_index('time_stamp').asfreq('0.025S')
    #x_sensor_dat=x_sensor_dat.groupby(pd.Grouper(freq='40S'))['measurements'].apply(np.vstack).reset_index().set_index('time_stamp')
    #x_sensor_dat=x_sensor_dat.asfreq('0.025S')
    y_sensor_dat["time_stamp"]=pd.to_datetime(y_sensor_dat["time_stamp"],unit='s').round('ms')
    y_sensor_dat=y_sensor_dat.set_index('time_stamp').resample('0.025S',origin="start").bfill()
    x_y_dat=pd.merge(x_sensor_dat,y_sensor_dat, how='left',left_index=True,right_index=True)
    break
    #y_sensor_dat=y_sensor_dat.groupby(pd.Grouper(freq='10S'))['labels'].apply(list).reset_index().set_index('time_stamp')
    #y_sensor_dat=y_sensor_dat.groupby(pd.Grouper(freq='10S'))['labels'].apply(list).reset_index().set_index('time_stamp')
    y_sensor_dat['count']=y_sensor_dat['labels'].apply(lambda x : Counter(x))
    y_sensor_dat['labels']=y_sensor_dat['count'].apply(lambda x : x.most_common()[0][0])
#    y_sensor_dat=y_sensor_dat.asfreq(freq='0.025S', method='bfill')
    x_y_dat=pd.merge(x_sensor_dat,y_sensor_dat, how='left', left_index=True, right_index=True)
    x_y_dat['Subject']=int(sub)
    x_y_dat['Session']=int(sess)
    x_y_dat=x_y_dat[['Subject','Session','measurements','labels']]
    x_y_dat['measurements']= x_y_dat['measurements'].apply(lambda x: list(x))
    x_y_dat.to_parquet(f"pre_prcessed_training_sequence/subject_{sub}_session_{sess}.gzip",compression='gzip')

100%|█████████████████████████████████████████████████████████████████████████| 116/116 [00:00<00:00, 982907.60it/s]
0it [00:00, ?it/s]

In [80]:
x_sensor_dat['epoch'] = x_sensor_dat['time_stamp'].sub(pd.Timestamp('1970-01-01 00:00:00.000')).dt.total_seconds()

In [119]:
x_y_dat

,measurements,Subject,Session,labels
time_stamp,,,,
1970-01-01 00:00:00.000,"[0.49225123220935507, 0.0574821663159993, -0.5...",1,1,NaN
1970-01-01 00:00:00.025,"[0.45489722483915207, 0.07778523441849579, -0....",1,1,NaN
1970-01-01 00:00:00.050,"[0.5086999002612168, 0.08656965800233246, -0.5...",1,1,NaN
1970-01-01 00:00:00.075,"[0.5545241549751831, 0.08697396258912203, -0.5...",1,1,NaN
1970-01-01 00:00:00.100,"[0.5033684694494693, 0.046890343885634525, -0....",1,1,NaN
...,...,...,...,...
1970-01-01 00:15:47.125,"[0.11504486918898627, 0.24747590569891953, -0....",1,1,NaN
1970-01-01 00:15:47.150,"[0.11544359469698251, 0.24446038180963306, -0....",1,1,NaN
1970-01-01 00:15:47.175,"[0.11185551634211324, 0.24346200259819348, -0....",1,1,NaN
1970-01-01 00:15:47.200,"[0.11098857789319193, 0.24617501635502942, -0....",1,1,NaN
1970-01-01 00:15:47.225,"[0.09791621697203544, 0.24746441277665557, -0....",1,1,NaN

In [97]:
y_sensor_dat

                         labels
time_stamp
1970-01-01 00:00:00.020       0
1970-01-01 00:00:00.120       0
1970-01-01 00:00:00.220       0
1970-01-01 00:00:00.320       0
1970-01-01 00:00:00.420       0
...                         ...
1970-01-01 00:15:46.820       0
1970-01-01 00:15:46.920       0
1970-01-01 00:15:47.020       0
1970-01-01 00:15:47.120       0
1970-01-01 00:15:47.220       0

[9473 rows x 1 columns]

In [92]:
(1.02-0.02)/len(y_sensor_dat[0:11])

0.09090909090909091

In [55]:
x_sensor_dat.reset_index()[0:41]

,time_stamp,measurements,Subject,Session
0,1970-01-01 00:00:00,"[0.49225123220935507, 0.0574821663159993, -0.5...",1,1
1,1970-01-01 00:00:40,"[-0.009291310798291803, 0.22151421522740675, -...",1,1
2,1970-01-01 00:01:20,"[-0.7000818245476507, 0.28189488193125256, 0.6...",1,1
3,1970-01-01 00:02:00,"[0.07410819806907727, 0.37905235259810605, -1....",1,1
4,1970-01-01 00:02:40,"[1.5766815860553476, -0.21619838109676398, -0....",1,1
5,1970-01-01 00:03:20,"[0.038848138840075264, 0.2421687752024795, -0....",1,1
6,1970-01-01 00:04:00,"[-0.13348034889025762, -0.7311543606757294, 0....",1,1
7,1970-01-01 00:04:40,"[0.5917113624252174, -1.0628560171032215, 1.03...",1,1
8,1970-01-01 00:05:20,"[-0.5050988845038273, 0.11829737493782916, -1....",1,1
9,1970-01-01 00:06:00,"[-1.1026686980538147, 0.9286302132155664, 1.34...",1,1
10,1970-01-01 00:06:40,"[0.25520162302918525, 0.6263239433145799, 0.35...",1,1
11,1970-01-01 00:07:20,"[-0.5818970872429599, -0.2894973660664294, 1.0...",1,1
12,1970-01-01 00:08:00,"[-0.0871207250907716, 0.49034625447026753, -0....",1,1
13,1970-01-01 00:08:40,"[1.2171710551427837, -1.908142340610975, -0.22...",1,1
14,1970-01-01 00:09:20,"[0.3993897008191478, -0.8102344223647245, 1.79...",1,1
15,1970-01-01 00:10:00,"[0.21166624224229807, 0.04943547888511315, -1....",1,1
16,1970-01-01 00:10:40,"[-1.17393633283575, 0.1417946545067182, -0.748...",1,1
17,1970-01-01 00:11:20,"[-0.12888158935995173, 0.014377140441589916, 0...",1,1
18,1970-01-01 00:12:00,"[-0.09860893798742018, 0.2839538936830617, -0....",1,1
19,1970-01-01 00:12:40,"[2.0487088155065374, 0.1337080154889141, 1.227...",1,1
20,1970-01-01 00:13:20,"[2.141870105454812, 0.3686033707730235, -0.420...",1,1
21,1970-01-01 00:14:00,"[0.3144983178235951, 0.17016862726915713, -0.0...",1,1
22,1970-01-01 00:14:40,"[0.8983022497744287, -0.20620980026475977, 1.0...",1,1
23,1970-01-01 00:15:20,"[-0.2070675403618639, 0.16500584240353355, -0....",1,1

In [38]:
np.linspace(0.12,1.12,11)

array([0.12, 0.22, 0.32, 0.42, 0.52, 0.62, 0.72, 0.82, 0.92, 1.02, 1.12])

In [46]:
1.12-0.12

1.0

In [45]:
x_sensor_dat[0:41]

,time_stamp,measurements,Subject,Session
0,0.000,"[0.49225123220935507, 0.0574821663159993, -0.5...",1,1
1,0.025,"[0.45489722483915207, 0.07778523441849579, -0....",1,1
2,0.050,"[0.5086999002612168, 0.08656965800233246, -0.5...",1,1
3,0.075,"[0.5545241549751831, 0.08697396258912203, -0.5...",1,1
4,0.100,"[0.5033684694494693, 0.046890343885634525, -0....",1,1
5,0.125,"[0.4608525384902692, 0.06811913951240123, -0.5...",1,1
6,0.150,"[0.5068086990022411, 0.08515794405089602, -0.5...",1,1
7,0.175,"[0.49200968065679307, 0.07098032987414193, -0....",1,1
8,0.200,"[0.45094997767511824, 0.06632254948562166, -0....",1,1
9,0.225,"[0.491873413093517, 0.06795577583164769, -0.60...",1,1
10,0.250,"[0.503695150627654, 0.06578867588235503, -0.60...",1,1
11,0.275,"[0.4415258573884231, 0.05175226046484526, -0.5...",1,1
12,0.300,"[0.41652106033868036, 0.05851721342228116, -0....",1,1
13,0.325,"[0.5056448597035331, 0.0918104305547479, -0.59...",1,1
14,0.350,"[0.519394798298595, 0.08338023525355025, -0.60...",1,1
15,0.375,"[0.4858648558249611, 0.06337338354035979, -0.6...",1,1
16,0.400,"[0.5220234386996702, 0.057639236253608075, -0....",1,1
17,0.425,"[0.5453394805612645, 0.058186107804673357, -0....",1,1
18,0.450,"[0.5398657659582816, 0.06075723869974951, -0.5...",1,1
19,0.475,"[0.5189521543264966, 0.07033467391980672, -0.5...",1,1
20,0.500,"[0.5176103850858951, 0.06434617731771121, -0.5...",1,1
21,0.525,"[0.5056475670061147, 0.046660622260856384, -0....",1,1
22,0.550,"[0.5309379844782208, 0.06740835699856976, -0.5...",1,1
23,0.575,"[0.48225557026653554, 0.08970818352394516, -0....",1,1
24,0.600,"[0.4745314855954124, 0.09018390841337576, -0.5...",1,1
25,0.625,"[0.4981230706975382, 0.05058942300862709, -0.5...",1,1
26,0.650,"[0.5012805375362275, 0.04902898517027346, -0.5...",1,1
27,0.675,"[0.48360034762111664, 0.07404962422116398, -0....",1,1
28,0.700,"[0.49743436300190835, 0.06208932311835638, -0....",1,1
29,0.725,"[0.5279110697862462, 0.0783306009440264, -0.59...",1,1
30,0.750,"[0.5243105077583615, 0.06612238108952255, -0.5...",1,1
31,0.775,"[0.5060777273051978, 0.055229416731738624, -0....",1,1
32,0.800,"[0.5044435693857791, 0.07133688410533438, -0.5...",1,1
33,0.825,"[0.5058994965519064, 0.07307108398268046, -0.5...",1,1
34,0.850,"[0.49299453717371466, 0.06123310040968315, -0....",1,1
35,0.875,"[0.49161486569697027, 0.07710427877434967, -0....",1,1
36,0.900,"[0.5058026352817633, 0.07233581059878637, -0.5...",1,1
37,0.925,"[0.4776367616565556, 0.05199333819138434, -0.5...",1,1
38,0.950,"[0.48862314593855705, 0.06305855956262606, -0....",1,1
39,0.975,"[0.4891184319052985, 0.046680187592805865, -0....",1,1
40,1.000,"[0.4964102505975528, 0.0902737994839412, -0.58...",1,1

In [14]:
0.02*5

0.1

In [9]:
y_sensor_dat=pd.concat([x_sensor_dat,pd.read_csv(f"TrainingData/subject_{sub}_{sess}__y.csv",header=None).rename(columns={0:'time_stamp'})],axis=0)

              0         1         2         3         4         5  time_stamp
0      4.435275  8.196063  2.974488  0.014215 -0.039157 -0.016744       0.000
1      4.186920  8.344455  2.908057  0.005771 -0.004480 -0.003345       0.025
2      4.544637  8.408659  2.890000  0.007967  0.022412  0.001159       0.050
3      4.849308  8.411614  2.900692  0.027778 -0.010670 -0.014223       0.075
4      4.509190  8.118649  2.847298  0.021577 -0.045498 -0.021111       0.100
...         ...       ...       ...       ...       ...       ...         ...
37885  1.927349  9.584698  0.940000 -0.001852  0.015182 -0.000370     947.125
37886  1.930000  9.562658  0.874684  0.003927  0.006205  0.000671     947.150
37887  1.906144  9.555361  0.866144 -0.001111 -0.005937 -0.000032     947.175
37888  1.900380  9.575190  0.865570 -0.004195 -0.004688 -0.007653     947.200
37889  1.813466  9.584614  0.914613  0.000381 -0.010000 -0.011841     947.225

[37890 rows x 7 columns]

In [7]:
files=glob.glob('pre_prcessed_training_sequence/*.gzip')
total_training_data=pd.DataFrame([])
for f in tqdm(files):
    total_training_data=pd.concat([total_training_data,pd.read_parquet(f, engine='auto')],axis=0)
total_training_data=total_training_data.sort_values(['Subject','Session','time_stamp'])
total_training_data=total_training_data.reset_index()
total_training_data['epoch'] = total_training_data['time_stamp'].sub(pd.Timestamp('1970-01-01 00:00:00.000'))
total_training_data['epoch']=total_training_data['epoch'].dt.total_seconds()
total_training_data=total_training_data[['Subject','Session','epoch','measurements','labels']]
total_training_data['measurements']=total_training_data['measurements'].apply(lambda x: list(x))
total_training_data.to_parquet(f"combined_sequence_sampled/training.gzip",compression='gzip')

100%|█████████████████████████████████████████████████████| 29/29 [00:00<00:00, 42.03it/s]

In [8]:
total_training_data

,Subject,Session,epoch,measurements,labels
0,1,1,0.0,"[[0.49225123220935507, 0.0574821663159993, -0....",0
1,1,1,0.5,"[[0.5176103850858951, 0.06434617731771121, -0....",0
2,1,1,1.0,"[[0.4964102505975528, 0.0902737994839412, -0.5...",0
3,1,1,1.5,"[[0.48592396526466025, 0.0707734572733887, -0....",0
4,1,1,2.0,"[[0.5142784476363889, 0.06457959309607438, -0....",0
...,...,...,...,...,...
67092,8,1,1201.0,"[[0.17799350227100835, 0.13431668639868466, -1...",0
67093,8,1,1201.5,"[[0.17519039841821377, 0.1363238845497099, -1....",0
67094,8,1,1202.0,"[[0.1784703715898555, 0.13786342622431108, -1....",0
67095,8,1,1202.5,"[[0.17901440560149806, 0.1329650350252312, -1....",0
67096,8,1,1203.0,"[[0.1799304736071462, 0.13597127984359195, -1....",0