In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay
from sklearn import svm
import pandas as pd
import glob
from tqdm import tqdm
import matplotlib.pyplot as plt
from collections import Counter
import numpy as np
from ast import literal_eval
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, confusion_matrix, ConfusionMatrixDisplay
from sklearn import svm
from sklearn.model_selection import RandomizedSearchCV, train_test_split
import numpy as np
from sklearn.preprocessing import StandardScaler

In [17]:
x['']

      time_stamp  labels
0           0.02       0
1           0.12       0
2           0.22       0
3           0.32       0
4           0.42       0
...          ...     ...
9468      946.82       0
9469      946.92       0
9470      947.02       0
9471      947.12       0
9472      947.22       0

[9473 rows x 2 columns]

In [ ]:
## Training_data_files=glob.glob('TrainingData/*.csv')
file_name_list_x=[]
file_name_list_x_time=[]
file_name_list_y=[]
file_name_list_y_time=[]
for file_name in tqdm(Training_data_files):
    if 'x.csv' in file_name:
        file_name_list_x.append(file_name)
    elif 'x_time.csv' in file_name:
        file_name_list_x_time.append(file_name)
    elif 'y.csv' in file_name:
        file_name_list_y.append(file_name)
    else:
        file_name_list_y_time.append(file_name)
file_name_list_x.sort()
file_name_list_x_time.sort()
file_name_list_y.sort()
file_name_list_y_time.sort()
Subject_list= [f.split('_')[1] for f in file_name_list_x]
Session_list= [f.split('_')[2] for f in file_name_list_x]

x_sensor_dat=pd.DataFrame([])
y_sensor_dat=pd.DataFrame([])
x_time_dat=[]
for sub,sess in tqdm(zip(Subject_list,Session_list)):
    x_sensor_dat=pd.concat([pd.read_csv(f"TrainingData/subject_{sub}_{sess}__x.csv",header=None),pd.read_csv(f"TrainingData/subject_{sub}_{sess}__x_time.csv",header=None).rename(columns={0:'time_stamp'})],axis=1)
    x_sensor_dat=pd.concat([x_sensor_dat,pd.read_csv(f"TrainingData/subject_{sub}_{sess}__y.csv",header=None).rename(columns={0:'time_stamp'})],axis=1)
    features_to_normalize = [0,1,2,3,4,5]
    scaler = StandardScaler()
    scaler.fit(x_sensor_dat[features_to_normalize])
    scaled = scaler.fit_transform(x_sensor_dat[features_to_normalize])
    scaled_df = pd.DataFrame(scaled, columns=x_sensor_dat[features_to_normalize].columns)
    x_sensor_dat[features_to_normalize]=scaled_df
    
    x_sensor_dat['measurements']=x_sensor_dat.apply(lambda x: [x[0],x[1],x[2],x[3],x[4],x[5]],axis=1)
    x_sensor_dat=x_sensor_dat[['time_stamp','measurements']]
    x_sensor_dat['Subject']=int(sub)
    x_sensor_dat['Session']=int(sess)
    
    y_sensor_dat=pd.concat([pd.read_csv(f"TrainingData/subject_{sub}_{sess}__y.csv",header=None),pd.read_csv(f"TrainingData/subject_{sub}_{sess}__y_time.csv",header=None).rename(columns={0:'time_stamp'})],axis=1).rename(columns={0:'labels'})
    y_sensor_dat=y_sensor_dat[['time_stamp','labels']]
    break
    trp=pd.concat(
        [pd.DataFrame({'labels':0},index=[x_sensor_dat.index[-1]]),pd.DataFrame({'time_stamp':np.max(x_sensor_dat['time_stamp'])},index=[x_sensor_dat.index[-1]])
                         ]
         ,axis=1)
    y_sensor_dat=pd.concat([y_sensor_dat,trp],axis=0)
    trp=pd.concat([pd.DataFrame({'labels':0},index=[x_sensor_dat.index[0]]),pd.DataFrame({'time_stamp':np.min(x_sensor_dat['time_stamp'])},index=[x_sensor_dat.index[0]])],axis=1)
    y_sensor_dat=pd.concat([trp,y_sensor_dat],axis=0)
    # y_sensor_dat=y_sensor_dat.set_index('time_stamp').asfreq('0.025S')
    #y_sensor_dat['Subject']=int(sub)
    #y_sensor_dat['Session']=int(sess)
    x_sensor_dat["time_stamp"]=pd.to_datetime(x_sensor_dat["time_stamp"],unit='s').round('ms')
    x_sensor_dat=x_sensor_dat.set_index('time_stamp')
    x_sensor_dat=x_sensor_dat.groupby(pd.Grouper(freq='0.5S'))['measurements'].apply(np.vstack).reset_index().set_index('time_stamp')
    #x_sensor_dat=x_sensor_dat.asfreq('0.025S')
    
    y_sensor_dat["time_stamp"]=pd.to_datetime(y_sensor_dat["time_stamp"],unit='s').round('ms')
    y_sensor_dat=y_sensor_dat.set_index('time_stamp')
    y_sensor_dat=y_sensor_dat.groupby(pd.Grouper(freq='0.5S'))['labels'].apply(list).reset_index().set_index('time_stamp')
    y_sensor_dat['count']=y_sensor_dat['labels'].apply(lambda x : Counter(x))
    y_sensor_dat['labels']=y_sensor_dat['count'].apply(lambda x : x.most_common()[0][0])
#    y_sensor_dat=y_sensor_dat.asfreq(freq='0.025S', method='bfill')
    x_y_dat=pd.merge(x_sensor_dat,y_sensor_dat, how='inner', left_index=True, right_index=True)
    x_y_dat['Subject']=int(sub)
    x_y_dat['Session']=int(sess)
    x_y_dat=x_y_dat[['Subject','Session','measurements','labels']]
    x_y_dat['measurements']= x_y_dat['measurements'].apply(lambda x: list(x))
    x_y_dat.to_parquet(f"pre_prcessed_training_sequence/subject_{sub}_session_{sess}.gzip",compression='gzip')

In [4]:
x_sensor_dat

              0         1         2         3         4         5  time_stamp
0      0.492251  0.057482 -0.575990  0.003788 -0.042991  0.000340       0.000
1      0.454897  0.077785 -0.587682  0.001198 -0.023188  0.019270       0.025
2      0.508700  0.086570 -0.590861  0.001872 -0.007832  0.025632       0.050
3      0.554524  0.086974 -0.588979  0.007947 -0.026723  0.003902       0.075
4      0.503368  0.046890 -0.598377  0.006046 -0.046612 -0.005829       0.100
...         ...       ...       ...       ...       ...       ...         ...
37885  0.115045  0.247476 -0.934094 -0.001139 -0.011961  0.023473     947.125
37886  0.115444  0.244460 -0.945590  0.000633 -0.017087  0.024944     947.150
37887  0.111856  0.243462 -0.947093 -0.000912 -0.024020  0.023950     947.175
37888  0.110989  0.246175 -0.947195 -0.001858 -0.023307  0.013184     947.200
37889  0.097916  0.247464 -0.938562 -0.000454 -0.026341  0.007267     947.225

[37890 rows x 7 columns]

In [7]:
files=glob.glob('pre_prcessed_training_sequence/*.gzip')
total_training_data=pd.DataFrame([])
for f in tqdm(files):
    total_training_data=pd.concat([total_training_data,pd.read_parquet(f, engine='auto')],axis=0)
total_training_data=total_training_data.sort_values(['Subject','Session','time_stamp'])
total_training_data=total_training_data.reset_index()
total_training_data['epoch'] = total_training_data['time_stamp'].sub(pd.Timestamp('1970-01-01 00:00:00.000'))
total_training_data['epoch']=total_training_data['epoch'].dt.total_seconds()
total_training_data=total_training_data[['Subject','Session','epoch','measurements','labels']]
total_training_data['measurements']=total_training_data['measurements'].apply(lambda x: list(x))
total_training_data.to_parquet(f"combined_sequence_sampled/training.gzip",compression='gzip')

100%|█████████████████████████████████████████████████████| 29/29 [00:00<00:00, 42.03it/s]

In [8]:
total_training_data

,Subject,Session,epoch,measurements,labels
0,1,1,0.0,"[[0.49225123220935507, 0.0574821663159993, -0....",0
1,1,1,0.5,"[[0.5176103850858951, 0.06434617731771121, -0....",0
2,1,1,1.0,"[[0.4964102505975528, 0.0902737994839412, -0.5...",0
3,1,1,1.5,"[[0.48592396526466025, 0.0707734572733887, -0....",0
4,1,1,2.0,"[[0.5142784476363889, 0.06457959309607438, -0....",0
...,...,...,...,...,...
67092,8,1,1201.0,"[[0.17799350227100835, 0.13431668639868466, -1...",0
67093,8,1,1201.5,"[[0.17519039841821377, 0.1363238845497099, -1....",0
67094,8,1,1202.0,"[[0.1784703715898555, 0.13786342622431108, -1....",0
67095,8,1,1202.5,"[[0.17901440560149806, 0.1329650350252312, -1....",0
67096,8,1,1203.0,"[[0.1799304736071462, 0.13597127984359195, -1....",0