In [351]:
import pandas as pd
import glob
import numpy as np
from tqdm import tqdm
#from dask.dataframe import from_pandas
#import dask.dataframe as dd

In [2]:
def data_frame_adder(temp_frame,file_name):
    file_name=file_name.split('.csv')[0]
    temp_frame['file_name']=file_name
    temp_frame['subject']=temp_frame['file_name'].apply(lambda x: int(x.split('subject_')[1].split('_')[0]))
    temp_frame['session']=temp_frame['file_name'].apply(lambda x: int(x.split('subject_')[1].split('_')[1]))
    #temp_frame['type']=temp_frame['file_name'].apply(lambda x: x.split('__')[1])
    temp_frame = temp_frame.drop(columns=['file_name'])
    temp_frame = temp_frame[temp_frame.columns[::-1]]
    temp_frame = temp_frame.sort_values(by=['session','subject'], axis=0)
    col_list1 = list(temp_frame.columns)[0:2]
    col_list2 = list(temp_frame.columns)[2:]
    col_list2.sort()
    col_list=col_list1+col_list2
    
    #temp_frame = swap_columns(temp_frame, 'subject', 'session')
    # Swapping the columns
    temp_frame = temp_frame.reindex(columns=col_list)

    return temp_frame

In [77]:
Training_data_files=glob.glob('TrainingData/*.csv')
data_frame_x=pd.DataFrame([])
data_frame_x_time=pd.DataFrame([])
data_frame_y=pd.DataFrame([])
data_frame_y_time=pd.DataFrame([])
for file in tqdm(Training_data_files):
    file_name=file.split('/')[-1]
    temp_frame=pd.read_csv(file,header=None)
    if 'x.csv' in file_name:
        data_frame_x=pd.concat([data_frame_x,data_frame_adder(temp_frame,file_name)],axis=0,ignore_index=1).sort_values(by=['session','subject'], axis=0)
        
    elif 'x_time.csv' in file_name:
        data_frame_x_time=pd.concat([data_frame_x_time,data_frame_adder(temp_frame,file_name)],axis=0,ignore_index=1).sort_values(by=['session','subject'], axis=0)
        
    elif 'y.csv' in file_name:
        data_frame_y=pd.concat([data_frame_y,data_frame_adder(temp_frame,file_name)],axis=0,ignore_index=1).sort_values(by=['session','subject'], axis=0)
        
    else:
        data_frame_y_time=pd.concat([data_frame_y_time,data_frame_adder(temp_frame,file_name)],axis=0,ignore_index=1).sort_values(by=['session','subject'], axis=0)

data_frame_x_time=data_frame_x_time.rename(columns={0:'time_stamp'})[['time_stamp']]
data_frame_y=data_frame_y.rename(columns={0:'labels'})
data_frame_y_time=data_frame_y_time.rename(columns={0:'time_stamp'})[['time_stamp']]

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 116/116 [00:05<00:00, 22.38it/s]

In [152]:
total_x

,time_stamp,session,subject,0,1,2,3,4,5
0,1970-01-01 00:00:00.000,1,1,4.435275,8.196063,2.974488,0.014215,-0.039157,-0.016744
1,1970-01-01 00:00:00.025,1,1,4.186920,8.344455,2.908057,0.005771,-0.004480,-0.003345
2,1970-01-01 00:00:00.050,1,1,4.544637,8.408659,2.890000,0.007967,0.022412,0.001159
3,1970-01-01 00:00:00.075,1,1,4.849308,8.411614,2.900692,0.027778,-0.010670,-0.014223
4,1970-01-01 00:00:00.100,1,1,4.509190,8.118649,2.847298,0.021577,-0.045498,-0.021111
...,...,...,...,...,...,...,...,...,...
1297000,1970-01-01 00:27:48.925,2,1,-2.060488,4.304854,20.003300,-2.856359,1.863447,1.032997
1297001,1970-01-01 00:27:48.950,2,1,3.910946,9.916370,15.228920,-2.511353,2.865113,0.886430
1297002,1970-01-01 00:27:48.975,2,1,3.067708,7.396160,15.149830,-0.871648,2.223744,0.505819
1297003,1970-01-01 00:27:49.000,2,1,-1.268963,0.320479,14.576440,0.965082,1.375710,0.750492
1297004,1970-01-01 00:27:49.025,2,1,-1.900894,-0.096050,10.556450,1.687975,1.366624,0.737308

In [ ]:
pandas.DatetimeIndex

In [221]:
total_dict={}

In [222]:
total_dict[0]={}

In [408]:
total_x=pd.concat([data_frame_x_time,data_frame_x],axis=1)
subject=total_x.subject.unique()
sessions=total_x.session.unique()
#total_x["time_stamp"]=pd.to_datetime(total_x["time_stamp"],unit='s').round('us')
#total_x=total_x.set_index(['time_stamp'])

In [328]:
total_dict=pd.DataFrame({'subject':subject,'sessions':sessions})

In [342]:
total_dict={'subject':list(subject)}

In [345]:
total_dict={}

In [348]:
total_dict['subject']={tuple(subject)}

In [363]:
total_dict=pd.DataFrame(np.zeros((len(subject),len(sessions))))

In [405]:
sess

2

In [406]:
sub

1

In [404]:


#total_x=total_x.set_index(['subject','session'])
#total_x["time_stamp"]=pd.to_datetime(total_x["time_stamp"],unit='s')
#.asfreq('0.025S')
# total_x=total_x.set_index(['subject','session','time_stamp'])
sub_list=[]
for sub in subject:
    sess_list=[]
    for sess in sessions:
        #P=pd.DataFrame([])
        # P['subject']=sub
        # P['sessions']=sess
        P=total_x[(total_x.subject==sub)&(total_x.session==sess)].asfreq('0.025S')
        P['subject']=sub
        P['sessions']=sess
        sess_list.append(P)
    sub_list.append(sess_list)

# total_y=pd.concat([data_frame_y_time,data_frame_y],axis=1)
# total_y["time_stamp"]=pd.to_datetime(total_y["time_stamp"],unit='s')
# total_y=total_y.set_index('time_stamp')

/var/folders/mx/jdbjc86d0wv_f5wt72bxjm_w0000jp/T/ipykernel_7855/2885410589.py:12: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  P=total_x[(total_x.subject==sub)&(total_x.session==sess)].asfreq('0.025S')

ValueError: cannot reindex on an axis with duplicate labels

In [407]:
total_x[(total_x.subject==sub)&(total_x.session==sess)]

,session,subject,0,1,2,3,4,5
time_stamp,,,,,,,,
1970-01-01 00:00:00.000,2,1,-0.818299,1.482489,9.239433,3.276221,1.758045,0.607291
1970-01-01 00:00:00.025,2,1,2.349430,0.786867,8.966229,4.519730,1.894633,0.914252
1970-01-01 00:00:00.050,2,1,5.613035,-1.786033,7.156995,5.567176,0.978325,1.232577
1970-01-01 00:00:00.075,2,1,5.063244,-2.745969,7.871798,5.949589,0.148674,1.288932
1970-01-01 00:00:00.100,2,1,0.933478,-1.669380,9.282804,6.567541,-1.213789,1.133273
...,...,...,...,...,...,...,...,...
1970-01-01 00:27:48.925,2,1,-2.060488,4.304854,20.003300,-2.856359,1.863447,1.032997
1970-01-01 00:27:48.950,2,1,3.910946,9.916370,15.228920,-2.511353,2.865113,0.886430
1970-01-01 00:27:48.975,2,1,3.067708,7.396160,15.149830,-0.871648,2.223744,0.505819
1970-01-01 00:27:49.000,2,1,-1.268963,0.320479,14.576440,0.965082,1.375710,0.750492
1970-01-01 00:27:49.025,2,1,-1.900894,-0.096050,10.556450,1.687975,1.366624,0.737308

In [410]:
t=total_x[(total_x.subject==sub)&(total_x.session==sess)]

In [412]:
t[t.time_stamp.duplicated()]

,time_stamp,session,subject,0,1,2,3,4,5
1271474,1030.775,2,1,1.726654,9.619981,1.723327,-0.001997,0.067502,0.126057
1271475,1030.800,2,1,2.225759,9.493385,1.782374,0.008557,0.029333,0.073573
1271476,1030.825,2,1,2.010621,9.481603,1.770000,-0.004651,0.001009,0.062978
1271477,1030.850,2,1,1.614272,9.516440,1.798932,0.009519,0.024405,0.032554
1271478,1030.875,2,1,1.862582,9.353709,1.722649,0.007902,0.022794,0.020837
...,...,...,...,...,...,...,...,...,...
1274879,1115.900,2,1,7.608092,9.064552,3.454864,-0.978966,-0.986969,-0.703339
1274880,1115.925,2,1,0.665494,8.413067,3.525112,-1.097902,-1.641954,-0.830918
1274881,1115.950,2,1,-3.556407,9.090271,3.097796,-1.135056,-1.189946,-0.636289
1274882,1115.975,2,1,-2.339902,9.187144,2.839973,-1.103349,-0.691225,-0.517698
1274883,1116.000,2,1,1.438954,9.432188,2.367314,-1.274015,-0.551667,-0.464240

In [432]:
r

              0
0         0.000
1         0.025
2         0.050
3         0.075
4         0.100
...         ...
70167  1754.175
70168  1754.200
70169  1754.225
70170  1754.250
70171  1754.275

[70172 rows x 1 columns]

In [435]:
t[t['time_stamp']==1030.775]

,time_stamp,session,subject,0,1,2,3,4,5
1338236,1030.775,2,1,-0.319317,8.025388,5.672011,0.775135,-0.186375,-0.185135
1271474,1030.775,2,1,1.726654,9.619981,1.723327,-0.001997,0.067502,0.126057

In [421]:
len(t)

70172

In [428]:
r=pd.read_csv('TrainingData/subject_001_02__x_time.csv',header=None)

In [426]:
r1=pd.read_csv('TrainingData/subject_001_02__x.csv',header=None)

In [434]:
r1.loc[41231]

0   -6.903355
1    9.051401
2    8.129251
3   -1.393494
4   -0.847102
5   -0.002183
Name: 41231, dtype: float64

In [425]:
r1

,1.726654e+00,9.619981e+00,1.723327e+00,-1.996891e-03,6.750226e-02,1.260573e-01
0,2.225759,9.493385,1.782374,0.008557,0.029333,0.073573
1,2.010621,9.481603,1.770000,-0.004651,0.001009,0.062978
2,1.614272,9.516440,1.798932,0.009519,0.024405,0.032554
3,1.862582,9.353709,1.722649,0.007902,0.022794,0.020837
4,1.223272,9.598834,1.698834,-0.003277,-0.024200,0.011163
...,...,...,...,...,...,...
70166,3.762566,8.168921,3.062974,0.015675,0.007165,0.019624
70167,3.729076,8.256303,3.034621,-0.005977,0.006976,0.006051
70168,4.035121,8.696340,3.040610,-0.025315,0.024667,-0.012879
70169,4.013900,8.729596,3.006278,-0.014084,0.002854,-0.013945
70170,3.631926,8.440222,3.063185,0.003864,-0.025512,-0.006094

In [420]:
len(r)

70171

In [23]:
total_y_updated=total_y.copy()

In [24]:
total_y_updated['time_stamp']=pd.to_timedelta(total_y[(total_y.session==1)&(total_y.subject==1)]['time_stamp'])

In [106]:
total_x[(total_x.session==2)&(total_x.subject==2)]

,session,subject,0,1,2,3,4,5
time_stamp,,,,,,,,
1970-01-01 00:00:00.000000000,2,2,1.003241,9.480000,2.355139,0.000242,0.002015,0.000485
1970-01-01 00:00:00.000000000,2,2,0.981360,9.460000,2.349320,-0.001255,-0.004295,-0.002220
1970-01-01 00:00:00.000000000,2,2,0.971368,9.470000,2.370000,0.000372,-0.000365,-0.001110
1970-01-01 00:00:00.000000000,2,2,0.998770,9.450000,2.332459,0.001110,0.000000,0.000813
1970-01-01 00:00:00.000000000,2,2,0.971695,9.461695,2.353390,-0.004712,-0.001656,0.001110
...,...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000001384,2,2,1.719159,9.400841,2.299159,0.001683,-0.000931,-0.006491
1970-01-01 00:00:00.000001384,2,2,1.704496,9.411835,2.290000,0.001366,-0.003074,-0.005816
1970-01-01 00:00:00.000001384,2,2,1.661422,9.410711,2.234267,0.004319,-0.002585,-0.006183
1970-01-01 00:00:00.000001384,2,2,1.659633,9.410184,2.300000,0.004474,-0.001949,-0.001678
1970-01-01 00:00:00.000001385,2,2,1.662760,9.428160,2.290000,0.003678,0.011300,0.002601

In [ ]:
total_y.resample('30S').ffill()

In [147]:
total_x.index[0]

Timestamp('1970-01-01 00:00:00')

In [149]:
total_x.index[1]-total_x.index[0]

Timedelta('0 days 00:00:00.025000')

In [128]:
(total_x.index[1]-total_x.index[0]).total_seconds()

0.025

In [111]:
total_x.index=pd.DatetimeIndex(total_x.index)

TypeError: <class 'datetime.time'> is not convertible to datetime